<p>OK, thanks <%= params[:first_name] %></p>

<form action="/age">
  <input type="hidden" name="first_name" value=<%= params[:first_name] %>>
  <button type="submit">Click here to go to next page</button>
</form>
