
<p>Dum... dum... dum!!</p>

<p>I can inform you that in fact...:</p>

<ol>
  <li>Your name is: <%= params[:first_name] %></li>
  <li>Your age is: <%= params[:age] %></li>
  <li>Your job is: <%= params[:job] %></li>
</ol>
